<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29679834880-e7idqpsdgjmqhjd516kq4sf2aef7854e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29679834880-e7idqpsdgjmqhjd516kq4sf2aef7854e</string>
	<key>API_KEY</key>
	<string>AIzaSyDfZys_2yeubUrA6_9qbGmwAz96IWpUSRA</string>
	<key>GCM_SENDER_ID</key>
	<string>29679834880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whitecaps.WoofWoof</string>
	<key>PROJECT_ID</key>
	<string>woofwoof-61037</string>
	<key>STORAGE_BUCKET</key>
	<string>woofwoof-61037.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29679834880:ios:76593b5425749479e785e5</string>
	<key>DATABASE_URL</key>
	<string>https://woofwoof-61037.firebaseio.com</string>
</dict>
</plist>